# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# Ignore .directories
.*/

### Above will ignore all files without an extension... aka go binaries ###

# Ignore latex products in doc directories
**/doc/*/*.cls
**/doc/*/*.log
**/doc/*/*.cut
**/doc/*/img/*-converted-to.pdf
**/doc/*/*.aux
**/doc/*/*.bbl
**/doc/*/*.blg
**/doc/*/*.out
**/doc/*/*.pdf

# Ignore npm imported node.js modules
node_modules/

# Ignore go vendor directories
vendor/